button {
    align-self:right;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 4rem;
    width: 3rem;
    font-size: 2rem;

  }
  .on {
    color: #e9f00f;
  }
  .off {
    color: #bdbaba;
  }