.Userinfo-main-cont {
    height: 100%;
    width: 80%;
    text-align: left;
    margin: 2rem 2rem 2rem 0rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 2rem 1rem lightgray;
    border-radius: 0.5rem;
    background: hsl(213, 20%, 89%);
}

.Userinfo-main-cont .hr_info {
    background-color: lightgray;
    height: 1px;
    border: none;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Userinfo-main-cont .info-container h6 {
    font-size: 1rem;
    color: darkturquoise;
}

.Userinfo-main-cont .info-container h5 {
    font-size: 0.9rem;
    color: rgb(17, 16, 16);
    font-weight: lighter;
}

.Userinfo-main-cont .info-container .address,
.Userinfo-main-cont .info-container .nationality,
.Userinfo-main-cont .info-container .country,
.Userinfo-main-cont .info-container .birthday {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

.Heady h1 {
    font-size: 1.7rem;
}

.Heady h2 {
    font-size: 1.2rem;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}