.Userinfo-main-cont{
    height: 100%;
    width: 80%;
    text-align: left;
    margin: 2rem 2rem 2rem 0rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 2rem  1rem lightgray;
    border-radius: 0.5 rem;
    background:hsl(213, 20%, 89%);
    border-radius: 0.5rem;
    .hr_info{
        background-color: lightgray;
        height: 1px;
        border: none;
        width: 95%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .info-container{
        
        h6{
            font-size: 1rem;
                color: darkturquoise;
        }
        h5{
            font-size: 0.9rem;
            color: rgb(17, 16, 16);
            font-weight: lighter;
        }
        .city, .from ,.about
        {   
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
    }
}
ul{
    list-style-type: none;
}
.Heady h1{
    font-size: 1.7rem;
}
.Heady h2{
    font-size: 1.2rem;
}